mat-toolbar {
  display: flex;
  height: 7%;
  color: white;
  background-color: rgba(63, 81, 181, 1);
  z-index: 2;
}

.contd {
  position: absolute;
  display: flex;
  top: 7%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  z-index: 1;
  background-color: white;
}

.col-1 {
  width: 40%;
  height: 100%;
  background-color: rgb(185, 185, 185);
  padding: 5%;
}

.col-2 {
  width: 40%;
  height: 100%;
  background-color: rgb(238, 196, 196);
  padding: 5%;
}

.btn-icon {
  width: 22px;
  filter: invert(1);
  align-items: center;
}

.toolbar-element {
  background-color: antiquewhite;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.details {
  margin-left: 5%;
}

.col-2 {
  display: flex;
  flex-direction: column;
}

.legend-prop {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
  background-color: aquamarine;
}

.icon {
  width: 30px;
  margin-left: 10px;
}
