<mat-toolbar> <span> Οδηγίες χρήσης της εφαρμογής </span></mat-toolbar>
<div class="contd">
  <div class="col-1">
    <div class="toolbar-element">
      <button mat-mini-fab color="primary">
        <img src="../../../assets/icons/home.svg" class="btn-icon" />
      </button>
      <span class="details">Επιστροφή στην αρχική εστίαση του χάρτη</span>
    </div>
    <div class="toolbar-element">
      <button mat-mini-fab color="primary">
        <img src="../../../assets/icons/layers.svg" class="btn-icon" />
      </button>
      <span class="details"
        >Άνοιγμα / Κλείσιμο παραθύρου γεωχωρικών επιπέδων</span
      >
    </div>
    <div class="toolbar-element">
      <button mat-mini-fab color="primary">
        <img src="../../../assets/icons/basemaps.svg" class="btn-icon" />
      </button>
      <span class="details">Επιλογή διαφορετικού υποβάθρου</span>
    </div>
    <div class="toolbar-element">
      <button mat-mini-fab color="primary">
        <img src="../../../assets/icons/gotoxy.svg" class="btn-icon" />
      </button>
      <span class="details"
        >Μετάβαση σε τοποθεσία με εισαγωγή συνεταγμένων</span
      >
    </div>
    <div class="toolbar-element">
      <button mat-mini-fab color="primary">
        <img src="../../../assets/icons/measure-line.svg" class="btn-icon" />
      </button>
      <span class="details">Μέτρηση μήκους σχεδιασμένης γραμμής</span>
    </div>
    <div class="toolbar-element">
      <button mat-mini-fab color="primary">
        <img src="../../../assets/icons/measure-area.svg" class="btn-icon" />
      </button>
      <span class="details">Μέτρηση εμβαδού σχεδιασμένου πολυγώνου</span>
    </div>
    <div class="toolbar-element">
      <button mat-mini-fab color="primary">
        <img src="../../../assets/icons/zoom-in.svg" class="btn-icon" />
      </button>
      <span class="details">Μεγέθυνση χάρτη</span>
    </div>
    <div class="toolbar-element">
      <button mat-mini-fab color="primary">
        <img src="../../../assets/icons/zoom-out.svg" class="btn-icon" />
      </button>
      <span class="details">Σμίκρυνση χάρτη</span>
    </div>
    <div class="toolbar-element">
      <button mat-mini-fab color="primary">
        <mat-icon>fullscreen</mat-icon>
      </button>
      <span class="details">Εστίαση του χάρτη σε όλο το παράθυρο</span>
    </div>
    <div class="toolbar-element">
      <button mat-mini-fab color="primary">
        <img src="../../../assets/icons/print.svg" class="btn-icon" />
      </button>
      <span class="details">Εκτύπωση του παραθύρου</span>
    </div>
    <div class="toolbar-element">
      <button mat-mini-fab color="primary">
        <img src="../../../assets/icons/kml.svg" class="btn-icon" />
      </button>
      <span class="details">Εισαγωγή αρχείου .kml</span>
    </div>
  </div>

  <div class="col-2">
    <div class="legend-prop">
      <img src="../../../assets/icons/properties.svg" class="icon" />
      <span class="details">Άνοιγμα / Κλείσιμο ιδιοτήτων του επιπέδου</span>
    </div>
    <div class="legend-prop">
      <img src="../../../assets/icons/opacity.svg" class="icon" />
      <span class="details">Αυξομείωση της διαφάνειας του επιπέδου</span>
    </div>
    <div class="legend-prop">
      <img src="../../../assets/icons/legend.svg" class="icon" />
      <span class="details">Εμφάνιση υπομνήματος του επιπέδου</span>
    </div>
    <div class="legend-prop">
      <img src="../../../assets/icons/search-icon.svg" class="icon" />
      <span class="details">Εστίαση του παραθύρου στο επίπεδο</span>
    </div>
    <div class="legend-prop">
      <img src="../../../assets/icons/download.png" class="icon" />
      <span class="details">Μεταφόρτωση του επιπέδπυ σε μορφή .shp</span>
    </div>
    <div class="legend-prop">
      <img src="../../../../../assets/icons/information.png" class="icon" />
      <span class="details">Εμφάνιση πληροφοριών και πηγών του επιπέδου</span>
    </div>
  </div>
</div>
