@if (btnOn){
<div class="splash">
  <div class="content">
    <div class="r1">
      <img class="img-1" src="../../../../assets/logos/supco.png" alt="" />
      <div class="r12">
        <span><b>ΦΟΡΕΙΣ</b></span>
        <span>ΔΗΜΟΣ ΜΥΤΙΛΗΝΗΣ</span>
        <span>CIRCHIVE</span>
        <span>SUPCO S.A.</span>
      </div>
      <img class="img-1" src="../../../../assets/logos/circhive.png" alt="" />
    </div>
    <div class="r2">
      <img class="img-2" src="../../../../assets/logos/dimos.png" alt="" />
      <span class="sp2"><b>ΕΡΓΟ:</b></span>
      <span class="sp2"
        >Τουρισμός, Φέρουσα Ικανότητα και Βιοποικιλότητα: Ένα μεθοδολογικό
        πλαίσιο για την αξιολόγηση της τουριστικής πίεσης στον Δήμο Μυτιλήνης
      </span>
      <span class="sp2"><b>PROJECT:</b></span>
      <span class="sp2"
        >Tourism, Carrying Capacity and Biodiversity: A methodological framework
        for tourist pressure assessment at Mytilini Municipality
      </span>
    </div>

    <div class="r4">
      <button mat-mini-fab color="primary" (click)="hide()">
        <mat-icon>check</mat-icon>
      </button>
    </div>
  </div>
</div>
}
