.splash {
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  z-index: 2000;
  background-color: rgba(162, 166, 171, 0.6);
  display: flex; /* Enable flexbox */
  align-items: center; /* Center items vertically */
  justify-content: center;
  animation: fadeIn 1s ease-in-out forwards;
}

.content {
  height: 500px;
  width: 600px;
  background-color: white;
  padding: 2%;
  border-radius: 5%;
  border: 1px solid black;
}

.r1 {
  display: flex;
  flex-direction: row;
  gap: 10%;
  justify-content: center;
}

.r12 {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
  line-height: 1.5;
  text-align: center;
}

.r2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
}

.img-1 {
  height: 25%;
  width: 25%;
}

.img-2 {
  height: 30%;
  width: 30%;
}

.sp2 {
  text-align: center;
  line-height: 1.5;
  margin-top: 2%;
  margin-bottom: 2%;
}

.r4 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10%;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
