.dialog {
  height: 250px;
  width: 200px;
}

.unit-input {
  width: 200px;
}

.form {
  align-items: center;
}

.btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

h3 span {
}
