.metadata {
  position: absolute;
  top: 7%;
  height: 400px;
  width: 400px;
  left: 380px;
  z-index: 2;
  background-color: white;
  border-radius: 5px;
  padding: 0.5%;
  display: flex;
  flex-direction: column; /* Arrange children in a column */
}
