.map {
  position: absolute;
  top: 7%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  z-index: 1;
  background-color: white;
}

#scalebar {
  position: absolute;
  top: 95%;
  bottom: 0%;
  left: 400px;
  width: 130px;
  z-index: 4;
}

.map-fullscreen {
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  z-index: 100;
  background-color: white;
  border: 3px solid grey;
}

.fullscreen {
  visibility: hidden;
}

.exit-fullscreen {
  position: absolute;
  visibility: visible;
  top: 1%;
  z-index: 110;
  background-color: #d4d4d4; /* White background */
  border: 2px solid #ccc; /* Light grey border */
  color: #333; /* Dark grey text */
  text-align: center; /* Center the text */
  text-decoration: none; /* Remove underline */
  display: inline-block; /* Make the button inline-block */
  font-size: 16px; /* Set font size */
  margin: 10px 0; /* Add margin */
  cursor: pointer; /* Pointer/hand icon on hover */
  border-radius: 50px; /* Rounded corners */
  transition: all 0.3s ease; /* Smooth transition for hover effects */
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  width: 100px;
  height: 50px;
  opacity: 0.8;
}

.exit-fullscreen:hover {
  background-color: #f0f0f0; /* Light grey background on hover */
  border-color: #bbb; /* Slightly darker border on hover */
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.2); /* Enhance shadow on hover */
  transform: translateY(-2px); /* Slight lift on hover */
}

.button-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically if needed */
  height: 100vh; /* Full height of the viewport */
}
