.coords {
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  background-color: #3f51b5;
  width: 340px;
  height: 10px;
  bottom: 0.5%;
  left: 5px;
  z-index: 3;
  padding: 10px;
  border-radius: 5px;
  z-index: 3;
  opacity: 0.9;
}

.xy {
  align-items: end;
}

.custom-select {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px 10px;
  color: #3f51b5;
  cursor: pointer;
  align-items: start;
}
