.contd {
  position: absolute;
  display: flex;
  flex-direction: column;
  bottom: 5%;
  right: 5px;
  width: 20%;
  height: 20%;
  z-index: 5;
  border-radius: 5px;
  border: 3px solid white;
}

.main-row {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 10%; /* Set a percentage height for the header */
  max-height: 20px;
  min-height: 20px;
  background-color: #3f51b5;
  padding: 2px;
  box-sizing: border-box;
}

#thematic_map {
  width: 100%;
  flex-grow: 1; /* Allow map to take up remaining space */
  height: calc(100% - 20px); /* Adjust based on .main-row height */
}

.title {
  font-size: 1.2rem;
  margin: 0;
  color: white;
}

mat-icon {
  color: white;
  position: absolute;
  right: 10px;
}

mat-icon:hover {
  background-color: grey;
  cursor: auto;
}

.hidden {
  display: none;
}
