.dialog {
  height: 350px;
  width: 200px;
}

.coord-input {
  width: 200px;
}

.form {
  align-items: center;
}

.btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
