.table {
  position: absolute;
  top: 50%;
  bottom: 4%;
  right: 4%;
  left: 16%;
  z-index: 2;
  background-color: white;
  overflow: auto;
  border-radius: 5px;
  padding: 0.5%;
}

.main-row {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 7%;
  max-height: 20px;
  min-height: 20px;
  background-color: #3f51b5;
  padding: 2px;
}

.title {
  font-size: 1.2rem;
  margin: 0;
  color: white;
}

mat-icon {
  color: white;
  position: absolute; /* Position icon absolutely */
  right: 10px; /* Position icon 10px from the right */
}
mat-icon:hover {
  background-color: grey;
}
