.logos {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 5%;
  height: 15%;
  bottom: 0.5%;
  right: 5px;
  z-index: 3;
  padding: 10px;
  border-radius: 5px;
  opacity: 0.9;
  background-color: white;
}

.logo {
  height: 18%;
  width: 90%;
  margin-bottom: 20%;
}
